<link rel="stylesheet" href="{{ 'assets/navbar.css' | relative_url }}">
<nav class="site-nav">
  <div class="site-logo">
    <div class="site-logo-row">
      <img src="{{ '/assets/images/uglanglogo.jpeg' | relative_url }}" alt="Site Logo" />
      <span class="site-logo-title">AfriLang AI 2025</span>
    </div>
    <span class="site-logo-subtitle">Bridging Low-Resource Gaps in African Languages</span>
  </div>
  <div class="site-nav-center">
    <ul class="site-nav-list">
      <li><a href="/uglangconf/#accepted-papers" class="site-nav-link">Accepted Papers</a></li>
      <li><a href="/uglangconf/schedule" class="site-nav-link">Schedule</a></li>
      <li><a href="/uglangconf/" class="site-nav-link">Sponsors</a></li>
    </ul>
  </div>
  <div class="site-nav-actions">
    <!-- <button class="lang-btn">FR</button> -->
    <a href="/uglangconf/" class="btn btn-primary fs-5 mb-4 mb-md-0 mr-2">Travel info</a>
  </div>
</nav>
<div class="navbar-spacer"></div> 
